body{
    background: url("exploreback.jpg");
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;

}



#image{
    height: 400px;
    background: url("collage.png");
    -moz-background-size: 80% 100%;
    -webkit-background-size: 80% 100%;
    background-size: 80% 100%;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    /*background-attachment: fixed;*/
}

#pop,#air,#top{
    color: firebrick;
    border-radius: 0;
    background-color: azure;
    opacity: 0.8;
}

#pop:focus{
    border-bottom: solid;
    border-bottom-color: red;
}
#top:focus{
    border-bottom: solid;
    border-bottom-color: red;
}
#air:focus{
    border-bottom: solid;
    border-bottom-color: red;
}